<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,       initial-scale=1.0")
      link(href="../src/air-datepicker-master/dist/css/datepicker.min.css" rel="stylesheet" type="text/css")
      link(rel="stylesheet" href="./styles.cards.css")
      link(rel="stylesheet" href="../src/fonts/iconfont/material-icons.css")
      link(rel="stylesheet" href="../src/fonts/awesomefont/awesome/all.min.css")
      
      script(src="../js/jquery-3.5.0.min.js") 
      script(src="../src/air-datepicker-master/dist/js/datepicker.min.js")
      script(src="../js/main.js")

      title Cards
   body
      .wrapper
         img.logo.logo__pos(src="../src/img/Logosimbol.png", alt="Logo")
         .wrapper__container
            .wrapper__container-height150
               .wrap-flex-row
                  form.form.searching-room.searching-room__pos(method="post")
                     .form__container
                        p.title.title__pos Найдём номера под ваши пожелания
                           //- Хэдер
                        .wrap-flex-sb
                           .form-group.form-group__view 
                              label.label.label__pos Прибытие
                              input.input.input--size--s(type="date" placeholder="ДД.ММ.ГГГГ" name="startdate" min="01.04.2020" max="31.12.2020")
                              i.expand.expand__pos expand_more
                           .form-group.form-group__view 
                              label.label.label__pos Выезд
                              input.input.input--size--s(type="date" placeholder="ДД.ММ.ГГГГ" name="enddate" min="01.04.2020" max="31.12.2020")
                              i.expand.expand__pos expand_more
                        label.label.label__pos Гости
                        input.input.input__guests.input--size--m(type="number" placeholder="Сколько гостей" name="guests" min="1" max="30")
                        i.expand.expand__pos2 expand_more
                        //- Хэдэр   
                        button.btn.btn--color--grad.btn--size--d(type="submit") Подобрать номер
                        i.arrow.arrow--white.arrow__pos arrow_forward
                  form.form.searching-room-result.searching-room-result__pos(method="post")
                     .form__container
                        .wrap-flex-sb
                           .number-room.number-room__pos
                              span.title.number-room__roombol № 
                              span.title.number-room__mumber 888
                              span.number-room__type-room  люкс
                           .price-room
                              span.price-room__price 9 990
                              span.currency g
                              span.price-room__period  в сутки
                        .wrap-flex-sb
                           .form-group.form-group__view
                              label.label.label__pos Прибытие
                              input.input.input--height--24.input--size--s(type="number" placeholder="19.08.2019" name="startdate" min="01.04.2020" max="31.12.2020")
                              i.expand.expand__pos expand_more
                           .form-group.form-group__view
                              label.label.label__pos Выезд
                              input.input.input--height--24.input--size--s(type="number" placeholder="23.08.2019" name="enddate" min="01.04.2020" max="31.12.2020")
                              i.expand.expand__pos expand_more
                        label.label.label__pos Гости
                        input.input.input--height--24.input__guests.input--size--m(type="number" placeholder="3 гостя" name="guests" min="1" max="30")
                        i.expand.expand__pos2 expand_more
                        .ordering-result.ordering-result__pos
                           -
                              var Left = [
                                 {'roomPrice': '9 990'},
                                 {'amountDay': '4'},
                                 {'days': ' суток'},
                                 {'discount': '2 179'},
                                 {'total': 'Итого'},
                                 ]
                                 // todo: switch case
                           -
                              var Right = [
                                 {'totalRoomPrice': '39 960'},
                                 {'serviceCharge': '0'},
                                 {'extraService': '300'},
                                 {'totalPrice': '38 081'},
                              
                              ]
                           .wrap-flex-sb     
                              span.order-result #{Left[0].roomPrice}
                                 span.currency.currency--grey a
                                 span.order-result  x #{Left[1].amountDay}#{Left[2].days}
                              span.order-result #{Right[0].totalRoomPrice}
                                 span.currency.currency--grey a
                           .wrap-flex-sb     
                              span.order-result Сбор за услуги: скидка #{Left[3].discount}
                                 span.currency.currency--grey a
                                 img.order-result__info-pos(src="./img/i.png")
                              span.order-result #{Right[1].serviceCharge}
                                 span.currency.currency--grey a
                           .wrap-flex-sb     
                              span.order-result.order-result--extraService-view Сбор за дополнительные услуги
                                 img.order-result__info-pos.order-result__info-pos--margin(src="./img/i.png") 
                              span.order-result #{Right[2].extraService}
                                 span.currency.currency--grey a
                           .wrap-margin
                              .wrap-flex-sb     
                                 span.order-result.order-result--total-view #{Left[4].total}
                                 .order-result__dots
                                 span.order-result.order-result--total-view #{Right[3].totalPrice}
                                    span.currency o 
                        button.btn.btn--color--grad.btn--size--d(type="submit") Забронировать
                        i.arrow.arrow--white.arrow__pos  arrow_forward
                  .datepicker-here(data-range="true")
                     .wrap
                        .wrap__datepicker-buttons
                           .wrap__container
                              .wrap-flex-sb
                                 button.btn.button.btn__del(type="submit") Очистить
                                 button.btn.btn--color--white.button(type="submit") Применить
                  //- form.form.calendar.calendar__pos(method="post")
                     .calendar__container
                        .wrap-flex-sb
                           button.button(type="submit")
                              i.arrow.arrow--grad.calendar__arrow-pos arrow_back
                           span.monthNames Август 2019
                           button.button(type="submit") 
                              i.arrow.arrow--grad.calendar__arrow-pos arrow_forward
                        table.table.table__pos(border='0' width='100%')
                           tr.table__names-week
                              th.table__name Пн
                              th.table__name Вт
                              th.table__name Ср
                              th.table__name Чт
                              th.table__name Пт
                              th.table__name Сб
                              th.table__name Вс
                           tr.table__dates
                              td.table__date.table__date--nonactive 29
                              td.table__date.table__date--nonactive 30
                              td.table__date.table__date--nonactive 31
                              td.table__date 1
                              td.table__date 2
                              td.table__date 3
                              td.table__date 4
                           tr.table__dates
                              td.table__date 5
                              td.table__date 6
                              td.table__date 7
                              td.table__date.table__date--current 8
                              td.table__date 9
                              td.table__date 10
                              td.table__date 11
                           tr.table__dates
                              td.table__date 12
                              td.table__date 13
                              td.table__date 14
                              td.table__date 15
                              td.table__date 16
                              td.table__date 17
                              td.table__date 18
                           tr.table__dates
                              td.table__date 19
                              td.table__date 20
                              td.table__date 21
                              td.table__date 22
                              td.table__date 23
                              td.table__date 24
                              td.table__date 25
                           tr.table__dates
                              td.table__date 26
                              td.table__date 27
                              td.table__date 28
                              td.table__date 29
                              td.table__date 30
                              td.table__date 31
                              td.table__date.table__date--nonactive 1
                        .wrap-flex-sb
                           button.btn.button.btn__del(type="submit") Очистить
                           button.btn.btn--color--white.button(type="submit") Применить
                  form.form.registery-account.registery-account__pos(method="post")
                     .form__container
                        p.title.title__pos Регистрация аккаунта
                        .form-group
                           input.input.input__guests.input--size--m(type="text" placeholder="Имя" name="nameman")
                           input.input.input__guests.input--size--m(type="text" placeholder="Фамилия" name="surnameman")
                        .form-group
                           .wrap-flex-row
                              input#sex1.input(type="radio" value="man" name="radio")
                              label(for='sex1').label Мужчина
                              input#sex2.input(type="radio" value="woman" name="radio")
                              label(for='sex2').label Женщина
                        .form-group
                           label.label Дата рождения
                              input.input(type="date" placeholder="ДД.ММ.ГГГГ" name="birthday" min="01.01.1900" max="01.01.2002")
                        .form-group
                           label.label Данные для входа в сервис
                              input.input.input.input--size--m(type="email" placeholder="Email" name="email")
                              input.input.input.input--size--m(type="password" placeholder="Пароль" name="password")
                        .form-group
                           input#offers.input.input__toggle(type="radio" value="extraOffer" name="extraOffer")
                           label(for='offers').label Получать спецпредложения
                        button.btn.btn--color--grad.btn--size--d(type="submit") Перейти к оплате
                        i.arrow.arrow--white.arrow__pos  arrow_forward
                        .wrap-flex-sb
                           p.montserrat1418 Уже есть аккаунт на Toxin
                           button.btn.btn--color--white.btn--size--b(type="submit") Войти
                  form.form.enter.enter__pos(method="post")
                     .form__container
                        p.title.title__pos Войти
                        .form-group
                           input.input.input.input--size--m(type="email" placeholder="Email" name="email")
                           input.input.input.input--size--m(type="password" placeholder="Пароль" name="password")
                        button.btn.btn--color--grad.btn--size--d(type="submit") Войти
                        i.arrow.arrow--white.arrow__pos  arrow_forward
                        .wrap-flex-sb
                           p.montserrat1418 Нет аккаунта на Toxin?
                           button.btn.btn--color--white.btn--size--b(type="submit") Создать
                  .search-room-result
                     .room-slider
                        ul.room-slider__list
                           li.room-slider__elem
                              img(src="../src/search-room-result/img/1lux.png", alt="room-photo")
                           //- li.room-slider__elem
                           //-    img(src="../src/search-room-result/img/2.png", alt="room-photo")
                           //- li.room-slider__elem
                           //-    img(src="../src/search-room-result/img/1lux.png", alt="room-photo")
                           //- li.room-slider__elem
                           //-    img(src="../src/search-room-result/img/2.png", alt="room-photo")
                        .room-slider-arrow
                           i.expand.expand--white.expand--left expand_more
                           i.expand.expand--white.expand--right expand_more
                        .room-slider-dots
                     .wrap-flex-sb
                        .number-room
                           span.title.number-room__roombol № 
                           span.title.number-room__mumber 888 
                           span.number-room__type-room люкс
                        .price-room
                           span.price-room__price 9 990
                           span.currency g
                           span.price-room__period  в сутки
                     hr
                     .wrap-flex-sb
                        .star-range
                           span.star
                           span.star
                           span.star
                           span.star
                           span.star
                        .reviews
                        - var reviewsNum = '145'
                           span.reviews__rev-num #{reviewsNum} Отзывов





            

            


                     
                     




                     
                           
                  